@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@700&display=swap");

:root {
  --main-light: #f4f2f3;
  --main-dark: #233554;
  --btn-light: #8da242;
  --lighter-dark: #656256;
  --light-green: #9ebc9f;
}

/* 

light colors 
light -> #fefbe9
green -> #183a1d
lightgreen -> #e1eedd

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

body {
  width: 100%;
  display: flex;
  color: #4b4b4b;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.light {
  background: var(--main-light);
}
.dark {
  background: var(--main-dark);
  color: #e6f1ff;
}

#title {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}
.dark #title {
  color: #64ffda;
}

.light #title {
  color: var(--btn-light);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 3rem;
  width: 100%;
}

.list-container {
  display: flex;
}

.close-btn-parent {
  padding: 1rem;
  justify-content: flex-end;
  display: flex;
}

.close-btn {
  font-size: 1.4rem;
}
.light .close-btn {
  color: #183a1d;
}
.dark .close-btn {
  color: #64ffda;
}
.list {
  position: fixed;
  overflow: hidden;
  left: -100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  top: 0%;
  list-style: none;
  transition: 0.1s;
  bottom: 0%;
  height: 100%;
  height: 100vh;
  z-index: 5;
}

.dark .list {
  background: #112240;
}
.light .list {
  background: #fff;
}
.close-btn {
  font-size: 2rem;
}
.show-list {
  width: 100%;
  left: 0%;
}
.list ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 2rem;
}
.list ul li {
  margin: 0.6rem 0;
}
.list-icon {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.dark .list-icon {
  color: #64ffda;
}
.light .list-icon {
  color: var(--btn-light);
}
.list a {
  text-decoration: none;
  font-size: 1.4rem;
}

.dark .list a {
  color: #ccd6f6;
}
.light .list a {
  color: rgb(49, 49, 49);
}

.dark .list .active,
.dark .list a:hover {
  color: #64ffda;
  border-bottom: 3px solid #64ffda;
}
.light .list .active,
.light .list a:hover {
  color: #183a1d;
  border-bottom: 3px solid #183a1d;
}
.resume {
  margin: 5rem 0 0 3rem;
}
.resume a {
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
.dark .resume a {
  border: 1px solid #64ffda;
  color: #64ffda;
}
.light .resume a {
  border: 1px solid #183a1d;
  color: #183a1d;
}
.top-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.7rem;
}
.top-icons div {
  margin: 0.2rem 1rem 0 0;
}

.home-page {
  height: 80vh;
  margin-bottom: 2rem;
}

.banner {
  height: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-info {
  margin-top: 5rem;
  flex: 0.5;
  margin-left: 1rem;
  width: 100%;
}

.banner-info div {
  width: 100%;
}
.dark .hello-text {
  color: #64ffda;
}
.light .hello-text {
  color: var(--btn-light);
}
h1 .type {
  white-space: nowrap;
  width: 0;
  font-size: 2.2rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  margin-bottom: -2rem;
  animation: typing 1s steps(40, end) 0.75s forwards;
}

h1 .type1 {
  font-size: 1.8rem;
  margin: 0.1rem 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.3s steps(40, end), step-end infinite;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
h1 .type2 {
  line-height: 2rem;
  font-size: 1.7rem;
  color: #857e75;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.3s steps(40, end), step-end infinite;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.dark .type1 {
  color: aliceblue;
}
.light .type {
  color: #0000;
}
.dark .type2 {
  color: #e6f1ff;
}
.light .type2 {
  color: var(--lighter-dark);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.link {
  margin-top: 1.5rem;
}

.link a {
  padding: 0.7rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.dark .link a {
  color: #64ffda;
  border: 1px solid#64ffda;
}

.light .link a {
  background: var(--btn-light);
  color: #fff;
}

.social-network {
  display: grid;
  width: 60%;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  grid-column-gap: 1rem;
  margin-top: 10rem;
}

.social-icon {
  font-size: 1.5rem;
}

.dark .social-icon {
  color: #64ffda;
}
.light .social-icon {
  color: #a7bc5b;
}

#about {
  flex: 1;
  margin: 5rem 0.4rem 1rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
}

.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-left div {
  text-align: center;
}
.about-left img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #000;
}
.light .about-left img {
  border-color: var(--btn-light);
}
.dark .about-left img {
  border-color: #64ffda;
}
.bio {
  margin: 1rem auto;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.dark .bio {
  color: #ccd4ee;
}
.bio p {
  text-align: center;
}
.about-link {
  margin-top: 1.6rem;
}
.btn-hire {
  margin: 0 auto;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  text-decoration: none;
}
.dark .btn-hire {
  background: #64ffda;
  color: #000;
}
.light .btn-hire {
  color: #fff;
  background: var(--btn-light);
}

.about-right {
  flex: 1;
  margin-top: 2rem;
}
.light .about-right h2 {
  color: #183a1d;
}
.skills-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin: 1rem auto;
}
.skills-collection > div {
  background: white;
  box-shadow: 2px 1px 11px rgba(65, 65, 65, 0.2);
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.skills-collection div span {
  flex: 1;
  color: #0a192f;
  font-size: 1.2rem;
}

/* ------- Projects ------- */
.projects {
  margin-top: 2rem;
  margin: 2rem 1rem 2rem 1rem;
}
.contact-section {
  width: 100%;
}
.project-container {
  display: flex;
  flex-direction: column;
}

.project {
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.dark .project {
  background: #0a192f;
  box-shadow: 2px 1px 11px #0a192f;
}
.light .project {
  background: #fff;
  box-shadow: 2px 1px 11px #b8b8b8;
}
.project h2 {
  margin: 0.5rem 0;
}
.dark .project h2 {
  color: #a8b2d1;
}
.light .project h2 {
  color: #183a1d;
}

.project h4 {
  color: #ccd6f6;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}
.dark .project h4 {
  color: #ccd6f6;
}
.light .project h4 {
  color: #4b4b4b;
}
.project-info .pr-link {
  margin: 1rem 0;
}
.project-btn {
  border: 1px solid #64ffda;
  color: #64ffda;
  text-decoration: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
.dark .project-btn {
  border: 2px solid #64ffda;
  color: #64ffda;
}
.light .project-btn {
  border: 2px solid var(--btn-light);
  background: var(--btn-light);
  color: #fff;
}

.project-image {
  background-image: url("./img/pr.jpg");
  background-size: cover;
  height: 25vh;
  width: 100%;
}
.project-info {
  margin: 0;
}

/*  -------- Contact -------- */
.contact-section {
  margin-top: 3rem;
  padding: 2rem;
}
.dark .contact-section {
  background: #0a192f;
}
.light .contact-section {
  background: #fff;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
.form-control {
  padding: 1rem 0.6rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  outline: none;
}
.dark .form-control {
  border: 0.8px solid #0a192f;
  background: #233554;
  color: #fff;
}

.light .form-control {
  border: 0.8px solid #f3f2ec;
  background: #f3f2ec;
  color: #183a1d;
}

form > div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

form label {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}
.dark form label {
  color: #ccd6f6;
}
.light form label {
  color: #183a1d;
}
.textarea-control {
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem;
  background: #233554;
  border: 0.8px solid #0a192f;
  height: 20vh;
  border-radius: 0.2rem;
}

.dark .textarea-control {
  background: #233554;
  border: 0.8px solid #0a192f;
  color: #ccd6f6;
}
.light .textarea-control {
  background: #f3f2ec;
  border: 0.8px solid #f3f2ec;
  color: #183a1d;
}

.form-control::placeholder,
.textarea-control::placeholder {
  font-size: 1rem;
}
.dark .form-control::placeholder,
.textarea-control::placeholder {
  color: #373d47;
}
.submit-btn {
  padding: 0.7rem 0.6rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}
.dark .submit-btn {
  background: #64ffda;
  color: #000;
}
.light .submit-btn {
  background: var(--btn-light);
  color: #fefbe9;
}
.contact-right {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}
.contact-right div {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.contact-right span {
  margin-left: 0.5rem;
}
.upwork {
  padding: 1rem;
}
.upwork a {
  background: #14a800;
  padding: 0.7rem 1rem;
  color: #fff;
  text-decoration: none;
}
.alert-container {
  padding: 1rem 0;
  display: flex;
}
.alert {
  margin-top: 1rem;
  padding: 1rem;
  position: absolute;
  display: none;
  font-size: 1.2rem;
}

.show {
  display: block;
}

.dark .alert {
  background: #64ffda;
  color: #000;
}
.light .alert {
  background: var(--btn-light);
  color: #fff;
}
@media (min-width: 992px) and (max-width: 1400px) {
  .home-page {
    height: 100vh;
  }
  .navbar {
    grid-template-columns: 1fr 5fr 0.5fr;
    padding-right: 2rem;
  }

  #title {
    margin: 1rem 0 0 6rem;
    font-size: 2.4rem;
  }
  .dark .list {
    background: transparent;
  }
  .list {
    position: sticky;
    display: flex;
    flex-direction: row;
    margin-top: 21rem;
    top: 50%;
    z-index: 1;
    background: brown;
    margin-top: 1rem;
    width: 100%;
    height: auto;
    justify-content: flex-end;
  }
  .light .list {
    background: transparent;
  }
  .list ul li {
    margin: 0 2rem;
  }
  .close-btn {
    display: none;
  }
  .resume {
    display: none;
  }
  .list ul {
    flex-direction: row;
  }
  .list-icon {
    display: none;
  }
  .top-icons {
    margin-top: 1rem;
  }
  .bars-icon {
    display: none;
  }
  .banner {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
  }
  .banner-info {
    flex: 2;
    padding: 3rem 0 0 6rem;
  }
  h1 .type {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  h1 .type1 {
    font-size: 2.5rem;
  }
  h1 .type2 {
    line-height: 3rem;
    font-size: 2.5rem;
  }
  .social-network {
    align-self: flex-start;
    align-items: flex-end;
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
    padding-right: 3rem;
  }
  .social-network div {
    text-align: end;
  }
  .link a {
    font-size: 1.5rem;
  }
  #about {
    padding-bottom: 5rem;
  }
  .about-container {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
  }
  .about-left {
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1rem;
    padding: 1rem;
  }
  .about-left img {
    height: 30vh;
    width: 30vh;
  }
  .about-left > div {
    width: 80%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 0.2rem;
  }

  .dark .about-left > div {
    background: #36507c;
    color: #233554;
  }
  .light .about-left > div {
    background: #fff;
    color: #233554;
  }

  .about-left .bio {
    width: 70%;
  }
  .about-link {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    align-self: center;
  }
  .btn-hire {
    margin-top: 2rem;
    margin: 0;
  }
  .about-right {
    flex: 1rem;
  }
  .inner-right {
    width: 60%;
  }
  .skills-collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skills-collection div {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }
  .project {
    margin: 1rem;
  }
  .contact-section {
    width: 100%;
    padding: 5rem 0 0 0;
    margin: 5rem auto 0;
  }
  .contact-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-inner form {
    padding: 5rem;
  }
  .light .contact-inner form {
    background: var(--main-light);
  }
  .dark .contact-inner form {
    background: #233554;
  }
  .form-control {
    border-radius: 0;
  }
  .dark .form-control,
  .dark .textarea-control {
    border: none;
    background: #2f4469;
    color: #fff;
  }
  .dark .form-control::placeholder,
  .dark .textarea-control::placeholder {
    color: #758cb4;
    letter-spacing: normal;
  }
  .light .form-control::placeholder,
  .light .textarea-control::placeholder {
    color: #758cb4;
    letter-spacing: normal;
  }
  .light .form-control,
  .light .textarea-control {
    background: #fff;
  }
  .contact-inner .contact-right {
    padding: 5rem;
  }
  .contact-left .alert-container {
    padding: 1rem 0;
  }
  .submit-btn {
    width: 30%;
  }

  .alert {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    display: none;
  }
  .show {
    display: block;
  }
}
